body {
    background-color: #990299; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#cabecalho {
    background-color: #990299;   
    text-align: center;
    color:white;
}

#navbar {    
    background-color: #990299;       
    margin: 0;
    padding: 0;
}

    .menu {
        list-style-type: none;
        padding-top: 0%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
      }
      
      .linhamenu {
        float: right;
        align-content: flex-end;
      }
      
      .linhamenu a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .linhamenu a:hover {
        background-color:grey;
      }
      .active {
        background-color: #990299;
      }

#UltimasNoticias { 
    background-color: #990299; 
    margin: 2%;
    text-align: center;
    color:white;
    font-family: arial;
    display: flex;
    justify-content: center;
    text-shadow: grey 1px 1px 5px;
}


#conteudo {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}
    
a {
    color: blue;
    text-decoration: underline;
}


#Noticias {
    justify-content: space-between;
    align-content: center;
    height: auto;
    margin-top: 20px;
}


.NoticiaDestaque1 {
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word;
    margin-bottom: 20px;

}
.titulomateria {
    border: grey 2px solid;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: #610061 2px 2px 3px;
    word-wrap: break-word;
}
.imgDestaque1 {
    width: 400px;
    height: 300px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

.videoDestaque1 {
    width: 500px;
    height: 300px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: flex-start;
    align-content: flex-end;
    float: left;
}
    
.tituloNoticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    word-wrap: break-word;
    color: #610061;
    width: auto;
}

.descDestaque1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    width: auto;
}
.linkDestaque1 {  
        font-size: 80%;
        color: blue;
        text-decoration: underline;
        word-wrap: break-word;
        text-align: center;
        align-content: center;
}



#Pessoal {
    background-color: white;
    margin: 2%;
    word-wrap: break-word;
}


.imgPessoal {
    justify-content: center;
}

.MeuNome {
    font-style: oblique;
    text-align: center;
}
#Formulario{
    background-color: #990299; 
}

#form1{
    background-color: white;
    margin: 2%;
    align-content: center;
}

.iframe1{
    background-color: #d5a8d5; 
    align-content: center;
    margin-top: 2%;
    word-wrap: break-word;
    margin-left: 20%;
}
#SaibaMais {
    background-color: white;
    margin: 2%;
    word-wrap: break-word;
    text-align: center;
    align-content: center;
}

.imagemFonte {
    width: 50px;
    height: 50px;

}
.linhaFonte {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;

}
.h3SaibaMais{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #610061;
}

#rodape {
    background-color:grey; 
    padding: 1px;  
    margin: 2%;
    text-align: center;
    color:white;
    font-family: arial;
    font-size: 80%;
}

@media only screen and (max-width:800px) {
    /* For mobile phones: */
    .NoticiaDestaque1, .imgDestaque1, .videoDestaque1, .tituloNoticia, .descDestaque1, .linkDestaque1, .iframe1 {
      width:100%;
      shape-margin: inherit;
    }